            <!--Redes sociales - Contenido derecha-->
            <div class="hidden-xs col-md-3">
                <div id="RedesSociales">
                    <label>Siguenos en</label>
                    <a href="https://twitter.com/LafiladeatrasFA"><img src="/img/icon_twitter.png" class="social" /></a>
                    <a href="https://www.instagram.com/lafiladeatras/"><img src="/img/icon_instagram.png" class="social" /></a>
                    <a href="#"><img src="/img/icon_facebook.png" class="social" /></a>
                </div>
            </div>
