body {
    padding-top: 50px;
}

.social-button {
    margin-top: 7px;
}

.side-left {
    margin-top: 7px;
}

.brand {
    width: 40px;
    height: 40px;
    margin-top: -9px;
}


#page-top {
    background-image: url(../img/fondoPerfilUsuario.png);
    height: 300px;
}

.header-info {
    width: 200px;
    margin: 0 auto;
}

.header-user-info {
    background-color: transparent;
    margin-top: 80px;
}

.name {
    color: white;
    font-size: xx-large;
}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#title {
    color: white;
    font-size: 50px;
    padding-left: 5em;
    padding-right: 5em;
    background-color: #333;
}

#title img {
    width: 3em;
}
.report-link {
    float: right;
}
.followers-container {
    margin-left: 100px;
}
.index-modification {
    margin-top: 30px;    
}

.side-right {
    margin-top: 30px;
}
