<header id="page-top" [style.background-image]="background()">
  <div class="container header-info">
    <div class="header-user-info"> <img id="imgUser" class="img-center" alt="" src="./src/assets/avatars/{{user.id}}.jpg" />
      <div class="intro-text">
        <p><span class="name">{{user.username}}</span></p>
      </div>
    </div>
  </div>
  <div class="followers-container">
    <p></p>
    <form  *ngIf="loginService.isLogged" action="/user/{{user.username}}/follow" method="POST">
      <button type="submit" id="follow" (click)="userService.followUser(user.id);" class="btn btn-info">Follow</button>
    </form>
  </div>
</header>

<div class="row">
  <div class="hidden-xs col-md-3">
    <div class="btn-group-vertical separation-profile" role="group" aria-label="...">
      <form action="/reportUser/{{user.id}}" method="PUT" enctype="multipart/form-data" class="reportLink">
        <input type='submit' (click)="userService.reportUser(user.id)" class="btn btn-primary" name='report' value='Report' />
      </form>
    </div>
  </div>
  <div class="col-xs-12 col-md-6">
    <div class="menu-profile">
                <ul class="nav nav-pills">
                    <li role="presentation"><a (click)="goToMenu('posts');">{{user.username}}'s Posts</a></li>
                    <li role="presentation"><a class="followers-following" (click)="goToMenu('followers');"> Followers <span class="badge badge-header">{{numFollowers}}</span></a></li>
                    <li role="presentation"><a class="followers-following" (click)="goToMenu('following');"> Following <span class="badge badge-header">{{numFollowing}}</span></a></li>
                </ul>
            </div>
            <div class="side-middle" [ngSwitch]="html">
                <div *ngSwitchCase="'posts'"><app-user-post></app-user-post></div>
                <div *ngSwitchCase="'followers'"><app-user-followers></app-user-followers></div>
                <div *ngSwitchCase="'following'"><app-user-following></app-user-following></div>
                <div *ngSwitchDefault>...</div>
            </div>
        </div>
</div>
