<div *ngIf="following.length>0;else notFollowing">
  <div *ngFor="let follow of following" class="">
    <div class="panel panel-default">
      <div class="panel-body">
        <a href="/user/{{follow.id}}"> <img alt="" src="src/assets/avatars/{{follow.id}}.jpg" class="profile-followers" />{{follow.username}}</a>
        <form action="/unfollow/follower.username" method="POST" class="form-follow">
          <button type="submit" class="btn btn-success button-followers">Following</button>
        </form>
        <form action="/follow/follower.username" method="POST" class="form-follow">
          <button type="submit" class="btn btn-success button-follow-user">Follow</button>
        </form>
      </div>
    </div>
  </div>
</div>

<ng-template #notFollowing>
  <p class="text-center text-info">No sigue a nadie<p>
</ng-template>
