<div class="panel panel-default">
	                        <div *ngFor="let usu of users" class="panel-body">
								<img alt="" src="/avatarimg/{{usu.id}}" class="profile-followers" /> {{usu.username}}
	                            <form action="/deleteReportUser/id" method="DELETE" enctype="multipart/form-data" class="btn btn-default button-report-users">
									<input type='submit' (click)="deleteUser(usu)" class="btn btn-primary" name='deleteComment' value='Delete user' style="background-color:rgba(255, 0, 0, 0.81)"/> <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>
								</form>
								<form action="/falseReportUser/id" method="PUT" enctype="multipart/form-data" class="btn btn-default button-report-users">
									<input type='submit' (click)="unmarkUser(usu)" class="btn btn-primary" name='falsereport' value='Delete from report list ' /><span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
								</form>
	                        </div>
	                    </div>