
                    <form action="/userChangePassword" method="POST">
                    <div>
                        <div class="input-group text-profile">
                            <span class="input-group-addon" id="basic-addon1">Your password</span>
                            <input type="text" [(ngModel)]="pass.oldPass" class="form-control" name="oldPass" aria-describedby="basic-addon1">
                        </div>

                        <div class="input-group text-profile">
                            <span class="input-group-addon" id="basic-addon1">New password</span>
                            <input type="text" [(ngModel)]="pass.newPass" class="form-control" name="newPass" pattern="(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least 8 characters with uppercase and lowercase letters." aria-describedby="basic-addon1">
                        </div>
                    </div>
                    <hr/>
                    <div class="btn-group btn-group-lg profile-save-button" role="group" aria-label="...">
	                	<input type="submit" (click)="changePassword();" class="btn btn-default save-profile-button" value="Save Changes">
	            	</div>
                    </form>