<header>
        <div id="Up"></div>
        <div id="title" class="hidden-xs hidden-sm">LA FILA DE ATRAS <img alt="Brand" src="src/assets/img/logoTitulo_blanco.png" /></div>
    </header>
    <div class="container-fluid">
        <div class="row">
            <!--Para dejar margen-->
            <div class="hidden-xs col-sm-4 col-md-4"></div>
            <!--Contenido-->
            <!--<div class="hidden-xs col-md-2">

            </div>-->
            <!--Posts-->
            <div class="col-xs-12 col-sm-5 col-md-4">
                <!-- Formulario -->
                <div class="login-method">
                    <form class="form-horizontal" action="/login" method="POST">
                        <fieldset>
                            <!--
                            <div id="legend">
                            <legend class="">Log in</legend>
                            #loginerror
                                <span id="error"><p>Wrong username or password</p></span>
                            /loginerror
                            </div>
                            -->
                            <div class="control-group">
                                <!-- Username -->
                                <label class="control-label" for="username">Username</label>
                                <div class="controls">
                                    <input #user type="text" id="username" name="username" placeholder="" class="input-xlarge"> </div>
                            </div>
                            <div class="control-group">
                                <!-- Password-->
                                <label class="control-label" for="password">Password</label>
                                <div class="controls">
                                    <input #pass  type="password" id="password" name="password" placeholder="" class="input-xlarge"> </div>
                            </div>
                            <div class="control-group">
                                <!-- Button -->
                                <div class="controls" id="btnlogin">
                                    <input class="btn btn-success" (click)="logIn(user.value, pass.value);" type="submit" value="Log in"/>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="login-method">
                    <p><strong>You can also: </strong></p>
                    <div>
                        <a class="btn btn-block btn-social btn-twitter"> <span class="fa fa-twitter"></span> Log in with Twitter </a>
                        <a class="btn btn-block btn-social btn-facebook"> <span class="fa fa-facebook"></span> Log in with Facebook </a>
                        <a class="btn btn-block btn-social btn-google"> <span class="fa fa-google"></span> Log in with Google+ </a>
                    </div>
                </div>
            </div>
            <!--Redes sociales-->
            <div class="hidden-xs col-sm-2 col-md-3">
                <div id="RedesSociales">
                    <label>Siguenos en</label>
                    <a href="index.html"><img src="src/assets/img/icon_twitter.png" class="social" /></a>
                    <a href="index.html"><img src="src/assets/img/icon_instagram.png" class="social" /></a>
                    <a href="index.html"><img src="src/assets/img/icon_facebook.png" class="social" /></a>
                </div>
            </div>
            <!--Para dejar margen-->
            <div class="hidden-xs col-sm-1 col-md-1"></div>
        </div>
    </div>


    <!-- Boton ir arriba-->
    <div class="col-md-12 toup">

        <div class="toUp">
            <a href="#Up" type="button" class="btn btn-primary  btn-toUp btn-md navbar-right"><span class="glyphicon glyphicon-arrow-up" aria-hidden="false"></span></a>
        </div>
    </div>