<!--Para dejar margen-->
            <div class="hidden-xs col-md-1"></div>
            <!--Contenido Izquierda-->
            <div class="hidden-xs col-md-2">
                <div class="side-left">
                    <div *ngIf="postYear!==undefined" class="thumbnail">
                    	<p class="text-center text-warning">Best of this year.</p>
                        <a [routerLink]="['/post',postYear.id]"><img src="/postimg/{{postYear.id}}" alt="" />
                            <div class="caption">
                                <p>{{postYear.postTitle}}</p>
                            </div>
                        </a>
                    </div>
	              	<div *ngIf="postMonth !== undefined" class="thumbnail">
                   		<p class="text-center text-warning">Best of this month.</p>
	                    <a [routerLink]="['/post',postMonth.id]"><img src="/postimg/{{postMonth.id}}" alt="" />
	                        <div class="caption">
	                             <p>{{postMonth.postTitle}}</p>
	                        </div>
	                    </a>
	                </div>
                    <div *ngIf="postWeek !== undefined" class="thumbnail">
                   		<p class="text-center text-warning">Best of this week.</p>
                        <a [routerLink]="['/post',postWeek.id]"><img src="/postimg/{{postWeek.id}}" alt="" />
                            <div class="caption">
                                <p>{{postWeek.postTitle}}</p>
                            </div>
                        </a>
                    </div>
                    <div *ngIf="postDay !== undefined" class="thumbnail">
                    	<p class="text-center text-warning">Best of today.</p>
                        <a [routerLink]="['/post',postDay.id]"><img src="/postimg/{{postDay.id}}" alt="" />
                            <div class="caption">
                                <p>{{postDay.postTitle}}</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
