                	#reportedCommentList
	                    <div class="panel panel-default">
	                        <div class="panel-body"> <img alt="" src="../avatarimg/id" class="profile-followers" /> commentUser.username
	                            <p>commentContent</p>
	                            <form action="/deleteReportComment/id" method="DELETE" enctype="multipart/form-data" class="btn btn-default button-report-users">
									<input type='submit' class="btn btn-primary" name='deleteComment' value='Delete comment' style="background-color:rgba(255, 0, 0, 0.81)"/> <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>
								</form>
								<form action="/falseReportComment/id" method="PUT" enctype="multipart/form-data" class="btn btn-default button-report-users">
									<input type='submit' class="btn btn-primary" name='falsereport' value='Delete from report list ' /><span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
								</form>
	                            
	                        </div>
	                    </div>
                    /reportedCommentList