<header id="page-top" [style.background-image]="background()">
        <div class="container header-info">
            <div class="header-user-info"> <img id="imgProfile" class="img-center" alt="" src="./src/assets/avatars/{{loginService.user.id}}.jpg" />
                <div class="intro-text">
                    <p><span class="name">{{loginService.user.username}}</span></p>
                </div>
            </div>
        </div>
    </header>
    <div class="row">
        <div class="hidden-xs col-md-3">
        </div>
        <div class="col-xs-12 col-md-6">
            <!-- Form to add a post-->
            <div class="side-middle">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1>Subir post</h1> </div>
                    <div class="panel-body">
                    	<form action="/uploadPost" method="post"
		enctype="multipart/form-data">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <label class="control-label" for="postTitle">
                                    <h3>Título del post</h3></label>
                                <div class="controls">
                                    <input type="text" [(ngModel)]="imageTitleFileUploader" id="postTitle" name="imageTitleFileUploader" placeholder="" class="input-xlarge"></div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h3>Imagen del post</h3>
                                <div class="upload">
                                    <label class="control-label" for="postURL">Subir imagen</label>
                                    <input type="file"  id="postURL" name="file" (change)="fileChange($event)" placeholder="" class="input-xlarge"> <!-- <a href="#" class="btn btn-primary" role="button">OK</a>--> </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <label class="control-label" for="postTitle">
                                    <h3>Choose a tag:</h3></label>
                                    <hr>    
                                    <select [(ngModel)]="op" name="op">
                                        <option [ngValue]="'savage'">Savage</option>
                                        <option [ngValue]="'funny'">Funny</option>
                                        <option [ngValue]="'animals'">Animals</option>
                                        <option [ngValue]="'movies'">Movies and TV</option>
                                        <option [ngValue]="'wtf'">WTF</option>
                                        <option [ngValue]="'anime'">Anime</option>
                                    </select>
                            </div>
                        </div>
                    	<input type='submit' class="btn btn-primary" (click)="upload();" name='enviar' value='Enviar' />
                    </form>
                    </div>
                </div>
            </div>
        </div>
        <!--Redes sociales-->
        <app-social-networks></app-social-networks>
    </div>