
                    <div>
                        <div class="setting-security">
                            <p>Friends search:</p>
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <p>
                                        <input type="checkbox" aria-label="..."><span class="settings-security">Hide my profile from the friens search.</span></p>
                                </div>
                            </div>
                            <small>Don´t allow to find my in La fila de atrás by e-mail, Facebook or Twitter.</small>
                        </div>
                        <div class="setting-security">
                            <p>Private account:</p>
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <p>
                                        <input type="checkbox" aria-label="..."><span class="settings-security">Proteger mi perfil.</span></p>
                                </div>
                            </div>
                            <small>Only the people that I give authorization can watch and follo my profile.</small>
                        </div>
                        <div class="setting-security">
                            <p>Can watch my profile at most:</p>
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <p>
                                        <input type="radio" aria-label="..."><span class="settings-security">Only friends</span></p>
                                    <p>
                                        <input type="radio" aria-label="..."><span class="settings-security">Friends of friends</span></p>
                                    <p>
                                        <input type="radio" aria-label="..."><span class="settings-security">All</span></p>
                                </div>
                            </div>
                        </div>
                    </div>