/* You can add global styles to this file, and also import other style files */
body {
    padding-top: 50px;
}

.social-button {
    margin-top: 7px;
}

.side-left {
    margin-top: 30px;
}

.brand {
    width: 40px;
    height: 40px;
    margin-top: -9px;
}

#page-top {
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: black;
    height: 300px;
}

.header-info {
    width: 200px;
    margin: 0 auto;
}

.header-user-info {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    margin-top: 80px;
}

.name {
    color: white;
    font-size: xx-large;
}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
}

#title {
    color: white;
    font-size: 50px;
    padding-left: 5em;
    padding-right: 5em;
    background-color: #333;
}

#title img {
    width: 3em;
}

.report-link {
    float: right;
}

.followers-container {
    width: 100%;
    text-align: center;
}

.side-middle {
    margin-top: 30px;
}

.side-right {
    margin-top: 30px;
}

.social {
    padding-left: 0.5em;
    width: 4.5em;
    height: 4em;
}

#RedesSociales {
    padding-top: 2em;
}

.myaccount-link {
    padding: initial;
    /*padding: 0px;
    padding-right: 35px;*/
}

.img-profile-mini {
    margin-top: -0.5em;
    margin-right: 0.5em;
    height: 2em;
}

.toUp a {
    position: fixed;
    bottom: 2em;
    right: 3em;
    background: #333;
    color: white;
    border-color: black;
}

.panel-profile {
    margin-top: 50px;
}

.text-profile {
    margin-top: 40px;
}

.profile-save-button {
    float: right;
}

.save-profile-button {
    background-color: darkgrey;
}

.edit-profile-right-side {
    margin-top: 170px;
}

.list-group-item.active {
    background-color: darkgray;
    border-color: darkgray;
}

.alignment-profile {
    float: right;
}

.separation-profile {
    margin: 10px;
}

.menu-profile {
    margin-top: 20px;
}

.nav-pills>li.active>a {
    background-color: darkgray;
}

.nav-pills>li.active>a:hover {
    background-color: #6d6d6d;
}

#following .button-followers {
    float: right;
}

.form-follow{
	float: right;
}

.profile-followers {
    height: 50px;
    margin-right: 20px;
}

.social-network-post {
    display: inline-block;
}

.social-post {
    padding-left: 0.5em;
    width: 3em;
}

.button-report-users {
    height: 50px;
    float: right;
    margin-left: 5px;
}

#reportUsers-text {
    text-align: center;
    font-size: 15pt;
}

#page-top .followers-following {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 3px;
    border-radius: 4px;
    margin: 5px;
}
.alert-unFollowUser {
    position: absolute;
    background-color: white;
    padding: 10px;
    margin-left: 170px;
    padding: 10px;
    border: 1px solid #d6d6ce;
    visibility: hidden;
}

#follow {
    background-color: #42a7f4;
    color: white;
    width: 10%;
}

#unfollow {
    
    color: white;
    width: 10%;
}

.button-follow-user {
    float: right;
}
#user-profile-img{
	heigth: 100 px;
	width: 100 px;
}

#error{
	color:red;
}

.tagsLeft{
	float:left;
	margin-right:10px;
}

.radioWidth{
	width: 200px;
}

.labelPosition{
	float:left;
	margin-right:30px;
}

.userIconImgCom{
	height: 40px;
	border-radius: 3px;
}

.tamTopDate{
	width:320px;
	heigth:150px;
}

.reportLink{
	float: right;
	margin:3px;
}
#newPost {
	color: white;
}

.panel-default >.panel-heading {
	background-color: black;
	color: white;
}


.panel-default {
	border-color: gainsboro;
}

.uploadPost {
	display: inline-block;
}

.upload {
	display: inline-block;
}



#publishButton {
	text-align: center;
}
.login-method {
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: center;
}

.login {
    width: 25em;
    padding-bottom: 1em;
}

.login:hover {
    width: 26em;
}

#or {
    padding-top: 17em;
}

#btnlogin {
    padding-top: 1em;
}
.img-profile-message {
    height: 6em;
    margin-left: -0.5em;
}

.menu li {
    border-left-style: inset;
}

.menu li a {
    color: black;
}

.message {
    height: 7em;
}

.panel-message {
    margin-top: -1em
}

.message-content {
    height: 7em;
    padding-top: 1px;
    width: 90%;
    padding-left: 1px;
}

.message-text {
    height: 7em;
    width: 80%;
    margin-left: 1px;
}

.message-text p {
    padding-top: 1em;
    margin-left: 1.1em;
    padding-left: 1em;
}

.message a:link {
    text-decoration: none;
    color: black;
}
.message a:visited {
    text-decoration: none;
    color: black;
}

.panel-heading a:link{
	text-decoration: none;
    color: white;
}

.panel-heading a:visited { 
    color: white;
}
.message a {
    color: black;
}

input[type=checkbox] {
    margin-top: -4.5em;
}

.user-rmt {
    margin-top: -1.1em;
    margin-left: -1.1em;
    height: 7em;
    border-right-color: beige;
    border-right-style: inset;
}

.img-profile-message {
    height: 7em;
    margin-left: -1.1em;
}

.mailbox {
    margin-bottom: 5em;
}

#legend {
    padding-top: 2em;
}

#btn-mailbox {
    padding-right: 1em;
    margin-bottom: 1.5em;
}

#btn-message {
    padding-right: 1em;
}

.conversation {
    padding-top: 1em;
}

.conversation button {
    margin: -3em 0.25em;
}
.btn-primary {
    background-color: white;
    color: black;
    border-color: darkslategray;
}
.thumbnail {
    border:5px solid black;
    margin-top: 6px;
}
.btn-primary.focus {
  color: #fff;
  background-color: black;
  border-color: #122b40;
}
.btn-primary:hover {
  color: #fff;
  background-color: black;
  border-color: black;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: black;
  border-color: black;
}
a.bg-primary:hover,
a.bg-primary:focus {
  background-color: black;
}
a.text-primary:hover,
a.text-primary:focus {
  color: black;
}
.label-primary[href]:hover,
.label-primary[href]:focus {
  background-color: black;
}
.btn-primary:focus,
.btn-primary.focus {
  color: #fff;
  background-color: black;
  border-color: black;
}
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  color: #fff;
  background-color: black;
  border-color: black;
}
.badge {
    background-color: black;
}

.panel-heading>.votes{
	color: white;
}
.votes {
    color: black;
}
.votes:hover{
    text-decoration: none;
    color:darkslategrey;
}

#comment {
    top:3;
}
#date:hover{
    text-decoration: none;
    color:darkslategrey;
}
#date {
    color:darkblue;
}

.userIconImg {
    width: 100;
	border-radius: 5px;
}

.panel-default>.panel-heading {
	background-color: black;
}

#tocomment {
    background-color: #eee;
        border: 1px solid #ccc;
}

#commentInput {
    width: 750;
}

.minHeight{
	height: 100px;
}

.delete-btn{
	position: relative;
    margin: -35px 20px;
}

.header-user-info img {
	height: 100;
	border-radius: 5px;
}

#up-votes{
	float:left;
}
#down-votes{
	float:left;
}

.img-post{
	width: 600px;
	padding-bottom: 12px;
	padding-top: 12px;
}
.signup-method {
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: center;
}