
                    <div class="setting-security">
                        <p class="font-notifications">My profile and activity:</p>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <p><span class="glyphicon glyphicon-phone" aria-hidden="true"></span><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></p>
                                <p>
                                    <input type="checkbox" aria-label="...">
                                    <input type="checkbox" aria-label="..."> <span class="settings-security">When someone start to follow me</span> </p>
                                <p>
                                    <input type="checkbox" aria-label="...">
                                    <input type="checkbox" aria-label="..."> <span class="settings-security">When my post become popular</span> </p>
                                <p>
                                    <input type="checkbox" aria-label="...">
                                    <input type="checkbox" aria-label="..."> <span class="settings-security">When a friend of Facebook start an account in La fila de atrás</span> </p>
                            </div>
                        </div>
                    </div>
                    <hr/>
                    <div class="setting-security">
                        <p class="font-notifications">Updates:</p>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <p><span class="glyphicon glyphicon-phone" aria-hidden="true"></span><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></p>
                                <p>
                                    <input type="checkbox" aria-label="...">
                                    <input type="checkbox" aria-label="..."> <span class="settings-security">When there is a special event</span> </p>
                                <p>
                                    <input type="checkbox" aria-label="...">
                                    <input type="checkbox" aria-label="..."> <span class="settings-security">When a friend post something</span> </p>
                                <p>
                                    <input type="checkbox" aria-label="...">
                                    <input type="checkbox" aria-label="..."> <span class="settings-security">When I receive an email</span> </p>
                            </div>
                        </div>
                    </div>
