<div class="content">
    <header>
        <div id="Up"></div>
        <div class="hidden-xs col-md-12" id="title">
            <div>LA FILA DE ATRAS <img alt="Brand" src="src/assets/img/logoTitulo_blanco.png" /></div>
        </div>
    </header>
    <div class="container-fluid">
        <div class="row">
            <!--Para dejar margen-->
            <div class="hidden-xs col-md-1"></div>
            <!--Contenido Izquierda-->
            <div class="hidden-xs col-md-2">
                <div class="side-left">
                	#BestPostOfYear
                    <div class="thumbnail">
                        <a href="/bestPostYear"><img src="/postimg/id" alt="" />
                            <div class="caption">
                                <p>postTitle</p>
                            </div>
                        </a>
                    </div>
                    /BestPostOfYear
                    #BestPostOfMonth
                    <div class="thumbnail">
                        <a href="/bestPOstMonth"><img src="/postimg/id" alt="" />
                            <div class="caption">
                                <p>postTitle</p>
                            </div>
                        </a>
                    </div>
                    /BestPostOfMonth
                    #BestPostOfDay
                    <div class="thumbnail">
                        <a href="/bestPostDay"><img src="/postimg/id" alt="" />
                            <div class="caption">
                                <p>postTitle</p>
                            </div>
                        </a>
                    </div>
                    /BestPostOfDay
                    #BestPostOfWeek
                    <div class="thumbnail">
                        <a href="/bestPostWeek"><img src="/postimg/id" alt="" />
                            <div class="caption">
                                <p>postTitle</p>
                            </div>
                        </a>
                    </div>
                    /BestPostOfWeek
                </div>
            </div>
            <!--Posts - Contenido central -->
            <div class="col-xs-12 col-md-6">
           	^Post
                <div class="side-middle">
                	<p class="text-center text-info">Post not found.</p>
                </div>
           	/Post
                <!--Post-->
          	#Post
                <div class="side-middle"> 
                    <div class="thumbnail">
                        <a href="/post/id"><img class="img-post" src="/postimg/id" /></a>
                        <form action="/reportPost/id" method="PUT" enctype="multipart/form-data" class="reportLink">
							<input type='submit' class="btn btn-primary" name='report' value='Report' />
						</form>
                        <div class="caption">
                            <h3>postTitle</h3>
                            <p><a class="votes" href="/user/postAuthor.username">postAuthor.username </a> postDate  <span class="label label-primary">postTag</span></p>
                            <p> 
                                <span id="up-votes">
                                    <form action="/post/id/up-vote" method="POST">
                                        <button type="submit" class="btn btn-primary" ><i class="fa fa-arrow-up" aria-hidden="true"></i></button> 
                                    </form>
                                </span>
                                <span id="down-votes">
                                    <form action="/post/id/down-vote" method="POST">
                                        <button type="submit" class="btn btn-primary" role="button"><i class="fa fa-arrow-down" aria-hidden="true"></i></button> 
                                        
                                    </form>
                                </span>
                            	<a class="votes"> Upvotes <span class="badge">postUpVotes</span></a> 
                            	<a class="votes"> Downvotes <span class="badge">postDownVotes</span></a> 
                            	<a class="votes"> Comments <span id="comment" class="glyphicon glyphicon-comment" aria-hidden="true"></span></a> 
                            </p>
                            <div>
                                <a href="index.html" class="social-network-post"><img src="/img/icon_twitter.png" class="social-post" /></a>
                                <a href="index.html" class="social-network-post"><img src="/img/icon_instagram.png" class="social-post" /></a>
                                <a href="index.html" class="social-network-post"><img src="/img/icon_facebook.png" class="social-post" /></a>
                            </div>
                        </div>
                	</div> 
                	
                </div>
                <!--Comentarios-->
                #postComments
	                <div class="panel panel-default">
	                	<form action="/reportComment/id" method="PUT" enctype="multipart/form-data" class="reportLink">
							<input type='submit' class="btn btn-primary" name='report' value='Report'>
						</form>
	                    <div class="panel-heading"> <a href="/user/commentUser.username" class="votes"><img alt="" class="userIconImgCom" src="/avatarimg/commentUser.id" /> commentUser.username</a> </div>
	                    <div class="panel-body">commentContent</div>
	                </div>
                /postComments
                #loggedUser
	                <div class="panel panel-default">
	                    <div class="panel-heading"> <a href="/user/username" class="votes"> <img alt="" class="userIconImgCom" src="/avatarimg/id" /> username</a> </div>
	                    <div class="panel-body ">
	                    	<form class="form-horizontal" action="/addComment" method="POST">
	                    		<fieldset >
	                    		<input type="text" name="commentContent" class="input-xlarge col-lg-12"><br/>
	                    		<input type="hidden" name="commentPost" value="Post.id"><br/>
	                    		<input class="btn btn-success" type="submit" value="Comment"><br/>
	                    		</fieldset>
	                    	</form>
	                    </div>
	                </div>
                /loggedUser
          	/Post
          	<hr>
          	#User
	          	<div class="panel panel-default">
	          			<form action="/reportUser/id" method="PUT" enctype="multipart/form-data" class="reportLink">
							<input type='submit' class="btn btn-primary" name='report' value='Report' />
						</form>
                      <div class="panel-body"> <a href="/user/username"><img alt="" src="../avatarimg/id" class="profile-followers" /> username</a></div>
                </div>
          	/User
            </div>
            <!--Redes sociales - Contenido derecha-->
            <div class="hidden-xs col-md-3">
                <div id="RedesSociales">
                    <label>Siguenos en</label>
                    <a href="index.html"><img src="/img/icon_twitter.png" class="social" /></a>
                    <a href="index.html"><img src="/img/icon_instagram.png" class="social" /></a>
                    <a href="index.html"><img src="/img/icon_facebook.png" class="social" /></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Boton ir arriba-->
    <div class="col-md-12 toup">
        <div class="toUp"> <a href="#Up" type="button" class="btn btn-primary  btn-toUp btn-md navbar-right"><span class="glyphicon glyphicon-arrow-up" aria-hidden="false"></span></a> </div>
    </div>
</div>