<div *ngIf="followers.length>0;else notFollowing">
  <div *ngFor="let following of followers" class="">
    <div class="panel panel-default">
      <div class="panel-body">
        <a href="/user/{{following.username}}" [routerLink]="['/user',following.username]"> <img alt="" src="src/assets/avatars/{{following.id}}.jpg" class="profile-followers" />{{following.username}}</a>
      </div>
    </div>
  </div>
</div>

<ng-template #notFollowing>
  <p class="text-center text-info">No le sigue nadie<p>
</ng-template>
