<header>
  <div id="Up"></div>
  <div class="hidden-xs col-md-12" id="title">
    <div>LA FILA DE ATRAS <img alt="Brand" src="/img/logoTitulo_blanco.png" /></div>
  </div>
</header>
<div class="container-fluid">
  <div class="row">
    <!--Para dejar margen-->
    <div class="hidden-xs col-md-1"></div>
    <!--Contenido Izquierda-->
    <div class="col-xs-12 col-md-8">
      <div id="legend">
        <legend class="">Mis Mensajes</legend>
      </div>
      <div class="hidden-xs col-md-3">
        <div class="side-left">
          <div class="menu">
            <ul class="nav nav-pills nav-stacked">
              <li><a [routerLink]="['/messages']">RECIBIDOS</a></li>
              <li><a [routerLink]="['/deletedMessages']">ELIMINADOS</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!--Posts - Contenido central -->
      <div class="col-xs-12 col-md-9">
        <div class="side-middle">
          <div class="col-xs-12 col-md-12">
            <div class="btn-group navbar-right" role="group">
              <div id="btn-mailbox">
                
                <!-- <button type="button" href="#" class="btn btn-default"><span class="glyphicon glyphicon-trash" aria-hidden="true"> </span> Eliminar</button>
                                    <button type="button" href="#" class="btn btn-default"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Seleccionar todos</button> -->
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-md-12">
            <div *ngIf="messages!=null;else notMessages">
              <div *ngFor="let message of messages">
                <div class="col-xs-12 col-md-12">
                  <div class="conversation">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <a [routerLink]="['/user', message.messageSender.username]" class="votes"><img alt="" class="userIconImgCom" src="/avatarimg/{{message.messageSender.id}}" />                          {{message.messageSender.username}}</a>
                        
                      </div>
                      <div class="panel-body">
                        <p>{{message.messageContent}}</p>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>

            <ng-template #notMessages>
              <p class="text-center text-info">No has eliminado ningún mensaje</p>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
    <!--Redes sociales - Contenido derecha-->
    <app-social-networks></app-social-networks>
    <!--Para dejar margen-->
    <div class="hidden-xs col-md-1 "></div>
  </div>
</div>
