<div class='content'><header>
        <div id="Up"></div>
        <div class="hidden-xs col-md-12" id="title">
            <div>LA FILA DE ATRAS <img alt="Brand" src="src/assets/img/logoTitulo_blanco.png" /></div>
        </div>
    </header>
    <div class="container-fluid">
        <div class="row">
            <!--Para dejar margen-->
            <div class="hidden-xs col-md-1"></div>
            <!--Contenido Izquierda-->
            <div class="hidden-xs col-md-2">
                <div class="side-left">
                    <div *ngIf="postYear!==undefined" class="thumbnail">
                    	<p class="text-center text-warning">Best of this year.</p>
                        <a [routerLink]="['/post',postYear.id]"><img src="src/assets/files/{{postYear.id}}.jpg" alt="" />
                            <div class="caption">
                                <p>{{postYear.postTitle}}</p>
                            </div>
                        </a>
                    </div>
	              	<div *ngIf="postMonth !== undefined" class="thumbnail">
                   		<p class="text-center text-warning">Best of this month.</p>
	                    <a [routerLink]="['/post',postMonth.id]"><img src="src/assets/files/{{postMonth.id}}.jpg" alt="" />
	                        <div class="caption">
	                             <p>{{postMonth.postTitle}}</p>
	                        </div>
	                    </a>
	                </div>
                    <div *ngIf="postWeek !== undefined" class="thumbnail">
                   		<p class="text-center text-warning">Best of this week.</p>
                        <a [routerLink]="['/post',postWeek.id]"><img src="src/assets/files/{{postWeek.id}}.jpg" alt="" />
                            <div class="caption">
                                <p>{{postWeek.postTitle}}</p>
                            </div>
                        </a>
                    </div>
                    <div *ngIf="postDay !== undefined" class="thumbnail">
                    	<p class="text-center text-warning">Best of today.</p>
                        <a [routerLink]="['/post',postDay.id]"><img src="src/assets/files/{{postDay.id}}.jpg" alt="" />
                            <div class="caption">
                                <p>{{postDay.postTitle}}</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <!--Posts - Contenido central -->
            <div class="col-xs-12 col-md-6">
                <div class="side-middle"> 
                <div *ngIf="posts.length>0;else notPost">
                    <div *ngFor="let post of posts" class="thumbnail">
                        <a [routerLink]="['/post',post.id]"><img class="img-post" src="src/assets/files/{{post.id}}.jpg" /></a>
                        <form action="/reportPost/id" method="PUT" enctype="multipart/form-data" class="reportLink">
							              <input type='submit' class="btn btn-primary" name='report' value='Report' />
					            	</form>
                        <!-- <a href="/reportPost/{{id}}" class="reportLink">Report</a>-->
                        <div class="caption">
                            <h3>{{post.postTitle}}</h3>
                            <p><a class="votes" href="/user/{{post.postAuthor.username}}">{{post.postAuthor.username}} </a>{{post.postDate}} <span class="label label-primary">{{post.postTag}}</span></p>
                            <p> 
                            <div id="up-votes">
	                            <form action="/index/id/up-vote" method="POST">
	                            	<button type="submit" class="btn btn-primary" ><i class="fa fa-arrow-up" aria-hidden="true"></i></button> 
	                            </form>
                            </div>
                            <div id="down-votes">
	                            <form action="/index/id/down-vote" method="POST">
	                            	<button type="submit" class="btn btn-primary" role="button"><i class="fa fa-arrow-down" aria-hidden="true"></i></button> 
	                            	
	                            </form>
                            </div>
                            	<a class="votes"> Upvotes <span class="badge">{{post.postUpVotes}}</span></a> 
                            	<a class="votes"> Downvotes <span class="badge">{{post.postDownVotes}}</span></a> 
                            	<a class="votes"> Comments <span id="comment" class="glyphicon glyphicon-comment" aria-hidden="true"></span></a>
                            <div>
                                <a href="#" class="social-network-post"><img src="src/assets/img/icon_twitter.png" class="social-post" /></a>
                                <a href="#" class="social-network-post"><img src="src/assets/img/icon_instagram.png" class="social-post" /></a>
                                <a href="#" class="social-network-post"><img src="src/assets/img/icon_facebook.png" class="social-post" /></a>
                            </div>
                        </div>
                    </div>
                </div> 
                    <ng-template #notPost>
                        <p class="text-center text-info">No hay posts<p>
                    </ng-template>
                </div>
            </div>
                        <!--Redes sociales - Contenido derecha-->
            <div class="hidden-xs col-md-3">
                <div id="RedesSociales">
                    <label>Siguenos en</label>
                    <a href="https://twitter.com/LafiladeatrasFA"><img src="src/assets/img/icon_twitter.png" class="social" /></a>
                    <a href="https://www.instagram.com/lafiladeatras/"><img src="src/assets/img/icon_instagram.png" class="social" /></a>
                    <a href="#"><img src="src/assets/img/icon_facebook.png" class="social" /></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Boton ir arriba-->
    <div class="col-md-12 toup">
        <div class="toUp"> <a href="#Up" type="button" class="btn btn-primary  btn-toUp btn-md navbar-right"><span class="glyphicon glyphicon-arrow-up" aria-hidden="false"></span></a> </div>
    </div>
    
</div>