<div *ngIf="followings.length>0;else notFollowing">
  <div *ngFor="let following of followings" class="">
    <div class="panel panel-default">
      <div class="panel-body">
        <a [routerLink]="['/user',following.username]"> <img alt="" src="/avatarimg/{{following.id}}" class="profile-followers" />{{following.username}}</a>
        <form action="/unfollow/follower.username" method="POST" class="form-follow">
          <button type="submit" class="btn btn-success button-followers">Following</button>
        </form>
        <form action="/follow/follower.username" method="POST" class="form-follow">
          <button type="submit" class="btn btn-success button-follow-user">Follow</button>
        </form>
      </div>
    </div>
  </div>
</div>

<ng-template #notFollowing>
  <p class="text-center text-info">No sigues a nadie<p>
</ng-template>